{% extends 'base.html' %}
{% load static %}
{% block title %}O nas{% endblock %}

{% block content %}
<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href=" {% url 'home' %} " class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      {% comment %} <img src=" {% static 'company_website/assets/img/logo.jpg' %} " alt="">  {% endcomment %}
      <h1>Querkus<span>.</span></h1>
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href=" {% url 'home' %} " >Domov</a></li>
        <li><a href=" {% url 'about_us' %} " class="active">O nas</a></li>
        <li><a href=" {% url 'services' %} ">Storitve</a></li>
        <li><a href=" {% url 'contact' %} ">Kontakt</a></li>
      </ul>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url(' {% static 'company_website/assets/img/hero-carousel/drevo3.jpg' %} ');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>O nas</h2>
        <ol>
          <li><a href=" {% url 'home' %} ">Domov</a></li>
          <li>O nas</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about" style="background-color: rgba(136, 172, 142, 0.37);">
      <div class="container" data-aos="fade-up">

        <div class="row position-relative">

          <div class="col-lg-7 about-img" style="background-image: url( {% static 'company_website/assets/img/about_us_bg_image.jpg' %} );"></div>

          <div class="col-lg-7">
            <h2>Najboljši v svojem področju</h2>
            <div class="our-story">
              <h4>Est 2020</h4>
              <h3>Querkus</h3>
              <p>Specializirani za obrezovanje in podiranje dreves</p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>Strokovno svetovanje in ocena zdravja dreves</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Obrezovanje dreves za ohranitev zdravja in estetike</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Podiranje dreves z varnim in strokovnim pristopom</span></li>
              </ul>
              <p>Zagotavljamo vam kakovost.</p>
            </div>
          </div>

        </div>

      </div>
    </section>

    <!-- ======= Alt Services Section 2 ======= -->
    <section id="alt-services-2" class="alt-services" style="background-color: rgba(224, 233, 213, 0.356);">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Moja pot</h3>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="fa-solid fa-seedling p-3"></i>
              <div>
                <h4 class="stretched-link">Začetki</h4>
                <p>Že od malih nog sem imel strast do narave in skrb za rastline. 
                  Še posebej me je navduševalo raziskovanje gozdov in opazovanje gozdnega življenja. 
                  Moj oče me je s svojim znanjem in ljubeznijo do okolja še dodatno navdušil, kar je začelo mojo pot v gozdarstvu.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="fa-solid fa-graduation-cap p-3"></i>
              <div>
                <h4 class="stretched-link">Izobraževanje</h4>
                  <p>Moje izobraževanje se je začelo na srednji Gozdarski šoli v Postojni,
                    kjer sem pridobil temeljno znanje o gozdarstvu. 
                    O arboristiki sem se eno leto izobraževal tudi na Švedskem.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="fa-solid fa-briefcase p-3"></i>
              <div>
                <h4 class="stretched-link">Sedanjost</h4>
                <p>V zadnjih letih sem uspešno izvedel številne projekte, ki so vključevali skrb za drevesa in okolje. 
                Moj cilj je še naprej prispevati k trajnostnemu upravljanju gozdov in zelenih površin,
                ter poskrbeti za zadovoljstvo strank.</p>
              </div>
            </div><!-- End Icon Box -->
          </div>

          <div class="col-lg-6 img-bg" style="background-image: url( {% static 'company_website/assets/img/hero-carousel/zagar2.jpg' %} );" data-aos="zoom-in" data-aos-delay="100"></div>
        </div>

      </div>
    </section><!-- End Alt Services Section 2 -->


    <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials" style="background-color: rgba(207, 211, 202, 0.356);">
      <div class="container" data-aos="fade-up">
        

        <div class="section-header">
          <h2>Mnenja naših strank</h2>
          <p>Preberite, kaj menijo naše stranke o opravljenih storitvah.</p>
        </div>

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">
            {% if testimonials%}
              {% for testimonial in testimonials %}
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src=" {% static 'company_website/assets/img/testimonials/123456.webp' %} " class="testimonial-img" alt="">
                    <h3>{{ testimonial.name }}</h3>
                    <h4>{{ testimonial.role }}</h4>
                      <div class="stars">
                        {% for _ in ""|rjust:testimonial.rating %}
                          <i class="bi bi-star-fill"></i>
                        {% endfor %}
                      </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      {{ testimonial.message }}
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
              {% endfor %}
            {% else %}
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src=" {% static 'company_website/assets/img/testimonials/testimonials-1.jpg' %} " class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Primer mnenja stranke.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src=" {% static 'company_website/assets/img/testimonials/testimonials-2.jpg' %} " class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Primer mnenja stranke.                    
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
            
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src=" {% static 'company_website/assets/img/testimonials/testimonials-3.jpg' %} " class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Primer mnenja stranke.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
            {% endif %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
    

    <div class="section-bg">
        <div class="section-header" style="margin-top:20px; padding-bottom: 50px;" id="testimonial-form">
          <h2>Vaše mnenje</h2>
          <p>Če smo za vas opravljali naše storitve, vas vljudno prosimo, da nam podate vaše mnenje.</p>
        </div>
        
        <form method="post" class="testimonial-form-container">
          {% csrf_token %}
          <div class="testimonial-form">
            <input type="text" name="name" placeholder="Ime in priimek" required>
            <input type="text" name="role" placeholder="Vaš poklic" required>
            <textarea name="message" placeholder="Vaše mnenje" rows="3" required></textarea>
            <div class="rating">
              <input type="radio" id="star5" name="rating" value="5" required />
              <label for="star5" title="5 stars"></label>
              <input type="radio" id="star4" name="rating" value="4" />
              <label for="star4" title="4 stars"></label>
              <input type="radio" id="star3" name="rating" value="3" />
              <label for="star3" title="3 stars"></label>
              <input type="radio" id="star2" name="rating" value="2" />
              <label for="star2" title="2 stars"></label>
              <input type="radio" id="star1" name="rating" value="1" />
              <label for="star1" title="1 star"></label>
            </div>
            <div class="form-row">
            <button type="submit">Podajte mnenje</button>
          </div>
          </div>
        </form>
      </div>
    </div><!-- End Testimonials Section -->
  </section>
    {% endblock %}
  </main><!-- End #main -->

  