{% extends 'base.html' %}
{% load static %}
{% block title %}Podiranje dreves{% endblock %}

{% block content %}
<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href=" {% url 'home' %} " class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      {% comment %} <img src=" {% static 'company_website/assets/img/logo.jpg' %} " alt="">  {% endcomment %}
      <h1>Querkus<span>.</span></h1>
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href=" {% url 'home' %} " >Domov</a></li>
        <li><a href=" {% url 'about_us' %} ">O nas</a></li>
        <li><a href=" {% url 'services' %} " class="active">Storitve</a></li>
        <li><a href=" {% url 'contact' %} ">Kontakt</a></li>
      </ul>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url(' {% static 'company_website/assets/img/hero-carousel/drevo3.jpg' %} ');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Podiranje dreves</h2>
        <ol>
          <li><a href=" {% url 'home' %} ">Domov</a></li>
          <li><a href=" {% url 'services' %} ">Storitve</a></li>
          <li>Podiranje dreves</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

<!-- ======= Service Details Section ======= -->
<section id="service-details-tree-removal" class="service-details" style="background-color: rgba(215, 243, 220, 0.37);">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

          <div class="col-lg-4">
              <div class="services-list">
                  <a href="#pogostost-podiranja" class="active">Kako pogosto je potrebno podirati drevesa?</a>
                  <a href="#najboljsi-cas-za-podiranje">Kdaj je najboljši čas za podiranje dreves?</a>
                  <a href="#postopek-podiranja">Kako poteka postopek podiranja dreves?</a>
                  <a href="#cena-podiranja">Cena podiranja</a>
              </div>
          </div>

          <div class="col-lg-8">
              <img src="{% static 'company_website/assets/img/podiranje-dreves.jpg' %}" alt="" class="img-fluid services-img">

              <!-- Kako pogosto je potrebno podirati drevesa? -->
              <section id="pogostost-podiranja" class="pt-4 pb-4">
                  <h3>Kako pogosto je potrebno podirati drevesa?</h3>
                  <p>Za nadomestitev odraslega drevesa novo posajena sadika rabi kar nekaj časa, zato se pred posekom vedno prepričamo <strong>ali je drevo treba podreti</strong>.
                    Sicer pa je podiranje dreves potrebno izvajati glede na njihovo stanje in okoljske pogoje. 
                    Drevesa, ki predstavljajo nevarnost zaradi bolezni, starosti ali strukturnih težav, je treba odstraniti, da se prepreči morebitno škodo ali nesreče.</p>
              </section>

              <!-- Kateri je najboljši čas za podiranje dreves? -->
              <section id="najboljsi-cas-za-podiranje" class="pt-4 pb-4">
                  <h3>Kateri je najboljši čas za podiranje dreves?</h3>
                  <p>Najbolj primeren čas za podiranje dreves je običajno pozimi ali zgodaj spomladi, ko drevesa nimajo listja. 
                    Takrat je lažje dostopati do dreves, tako se zmanjša tveganje za poškodbo okolice. 
                    Sicer pa se podiranje izvaja skozi vse leto, odvisno od specifičnih potreb in situacije drevesa.</p>
              </section>

              <!-- Kako poteka postopek podiranja dreves? -->
              <section id="postopek-podiranja" class="pt-4 pb-4">
                  <h3>Kako poteka postopek podiranja dreves?</h3>
                  <p>Postopek podiranja dreves vključuje <strong>strokovno oceno drevesa, 
                    varnostno pripravo okolice, uporabo ustrezne opreme (kot so verige, žage in dvigala) ter varno odstranitev drevesa in ostankov</strong>. 
                    Delo je zelo nevarno in ob neznanju ter nepravilnem delu lahko pride do velike škode, kar je dražje kot sama cena podiranja.
                  </p>
              </section>

              <!-- Kakšna je cena podiranja dreves? -->
              <section id="cena-podiranja" class="pt-4 pb-4">
                  <h3>Kakšna je cena podiranja dreves?</h3>
                  <p>Cena podiranja dreves je odvisna od več dejavnikov, kot so <strong>velikost drevesa, dostopnost lokacije, 
                    stanje drevesa in morebitna dodatna dela (npr. odvoz lesa)</strong>. 
                    Za natančno oceno cene je priporočljiv brezplačen ogled lokacije, kjer vam bomo podali konkretne informacije. 
                    Naš cilj je <strong>zagotoviti kakovostno storitev obrezovanja žive meje po konkurenčni ceni</strong>, ki bo zadovoljila vaše potrebe.
                    Po dogovoru je možen razrez drevesa na željeno dolžino, izdelava drv za kurjavo, prav tako pa tudi odvoz vejevja.</p>
              </section>

          </div>

      </div>
  </div>
</section><!-- End Service Details Section -->
      {% block extrascripts %}
        <script>
          // Add event listener for scroll event
          window.addEventListener('scroll', function() {
            // Get the sections and links
            var sections = document.querySelectorAll('.service-details section');
            var links = document.querySelectorAll('.services-list a');
        
            // Loop through each section to find which one is in the viewport
            sections.forEach(function(section, index) {
              var rect = section.getBoundingClientRect();
              if (rect.top >= 0 && rect.bottom <= window.innerHeight) {
                // Remove active class from all links
                links.forEach(function(link) {
                  link.classList.remove('active');
                });
                // Add active class to the corresponding link
                links[index].classList.add('active');
              }
            });
          });
        </script>    
      {% endblock %}
      {% endblock %}
  </main><!-- End #main -->